.post {
  display: flex;

  align-items: flex-start;
  border-bottom: 0.5px solid var(--twitter-grey);
  padding: 5px 15px 10px 10px;
}

.post-avatar {
  padding: 5px;
}

.post-body {
  flex: 1;
  margin-left: 10px;
}

.post-header-text {
  display: flex;

  align-items: center;
  padding: 5px;
}

.post-badge {
  margin-left: 2px;
  font-size: 18px !important;
  color: var(--twitter-primary);
}

.post-username,
.post-time {
  margin-left: 5px;
  color: grey;
}

.header-desc {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-header > img {
  border-radius: 10px;
  width: 100%;
}
.post-footer {
  display: flex;
  color: grey;
  justify-content: space-between;
  padding: 5px 10px;
}
