:root {
  --twitter-primary: #1d9bf0;
  --twitter-accent: #e8f5fe;
  --twitter-black: black;
  --twitter-grey: rgba(189, 189, 189, 0.573);
  --twitter-light-grey: #eff3f455;
  --twitter-white: white;
}

.App {
  display: flex;
  height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}
